@import 'tailwindcss';

@plugin "tailwindcss-animate";

@theme {
  --color-primary: #288364;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop {
    font-family: 'Darker Grotesque', 'Inter', sans-serif;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
}
