@import 'tailwindcss';

@plugin "tailwindcss-animate";

@variant dark (&:where(.dark, .dark *));

@theme {
  --spacing-header: 3rem;

  --z-index-header: 50;
  --z-index-dialog: 60;
  --z-index-drawer: 40;
  
  --color-primary: #288364;
  --color-theme-contrast: light-dark(var(--color-white), var(--color-gray-950));
  --color-theme-gray-50: light-dark(var(--color-gray-50), var(--color-gray-900));
  --color-theme-gray-100: light-dark(var(--color-gray-100), var(--color-gray-800));
  --color-theme-gray-200: light-dark(var(--color-gray-200), var(--color-gray-700));
  --color-theme-gray-300: light-dark(var(--color-gray-300), var(--color-gray-600));
  --color-theme-gray-400: light-dark(var(--color-gray-400), var(--color-gray-500));
  --color-theme-gray-500: light-dark(var(--color-gray-500), var(--color-gray-400));
  --color-theme-gray-600: light-dark(var(--color-gray-600), var(--color-gray-300));
  --color-theme-gray-700: light-dark(var(--color-gray-700), var(--color-gray-200));
  --color-theme-gray-800: light-dark(var(--color-gray-800), var(--color-gray-100));
  --color-theme-gray-900: light-dark(var(--color-gray-900), var(--color-gray-50));
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop {
    font-family: 'Darker Grotesque', 'Inter', sans-serif;
    box-sizing: inherit;
  }

  :root {
    box-sizing: border-box;

    @apply text-theme-gray-900;
  }

  button {
    @apply cursor-pointer outline-none;
  }
}

.react-resizable-handle:after {
  @apply hidden;
}

div.react-grid-item.react-grid-placeholder {
  @apply bg-theme-gray-500 rounded-xl;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
