@import 'tailwindcss';

@plugin "tailwindcss-animate";

@theme {
  --color-primary: #288364;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop {
    font-family: 'Darker Grotesque', 'Inter', sans-serif;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
}

.react-resizable-handle:after {
  @apply hidden;
}

div.react-grid-item.react-grid-placeholder {
  @apply bg-gray-400/70 rounded-xl;
}